*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}

p{
    margin: 0;
}

body{
    background-image: url(../public/images/body-background.jpg);
    background-size: cover;
}

.button-row{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    right: 2vw;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2vw 1vw;
    width: fit-content;
    background-color: #f8a231;
    border-image: url(https://forums.stardewvalley.net/styles/classic/woodenboxborder.png) 24 stretch;
    border-image-width: 15px;
    border-image-outset: 7px;
    gap: 1vw;
}
.button:active {
    background-color: #ae6d18;
}

.delete-button{
    padding: .5vw;
    width: fit-content;
    border-image-width: 15px;
    border-image-outset: 7px;    
}

.action-button{
    border: none;
    background: transparent;
}
.action-button:active{
    border: none;
    background-color: transparent;
}

nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 15vw;
    padding: 2vw;
    background: rgb(32,66,118);
    background: linear-gradient(180deg, rgba(32,66,118,1) 0%, rgba(255,255,255,0) 100%);
    .logo{
        width: 10vw;
        margin-right: 5vw;
    }
    .title-logo{
        width: 20vw;
    }
    .nav-clock{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 20%;
        height: 100%;
        padding: 2vw 1.5vw 1.5vw 1.5vw;
        background-image: url(../public/images/nav-clock.png);
        background-size: cover;
        p{
            font-family: 'Press Start 2P';
            font-size: .9vw;
        }
    }
}

.header-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin-bottom: -5px;
    padding: 3vw;
    .title-value{
        border: 6px solid transparent;
        border-image: url(https://forums.stardewvalley.net/styles/classic/scrollborder.png) 24 fill repeat;
        border-image-width: 24px;
        border-image-outset: 6px;
        padding: 0px 18px 0px 18px;
        box-shadow: 0px 10px 5px #248;
        text-shadow: 0px 2px 1px #d5864f;
        margin-left: auto;
        margin-right: auto;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vw;
    row-gap: 0;
    column-gap: 2vw;
    .column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.dynamic-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.content-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .header-title{
        padding: 0;
        position: relative;
        z-index: 5;
        top: 1vw;
    }
}

.content-container.features{
    .block-body{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 2vw;
        height: 100%;
        .button{
            width: 46%;
            height: 100%;
        }
    }
}

.block-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #3f0f08;
    background: #fff6d4;
    border-width: 24;
    border-style: solid;
    border-top-color: #f7ecb3;
    border-right-color: #f6e9a5;
    border-bottom-color: #f4e38e;
    border-left-color: #f6e9a5;
    border-radius: 4px;
    width: 100%;
    padding: 2vw;
    .block-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1vw;
        padding-top: 20px;
    }
}

.block-container{
    border-image: url(https://forums.stardewvalley.net/styles/classic/woodenboxborder.png) 24 stretch;
    border-image-width: 24px;
    border-image-outset: 5px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    .input {
        height: 40px;
        padding: 10px;
        transition: .2s linear;
        border: 2px solid black;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .input:focus {
        outline: none;
        border: 2px solid black;
        box-shadow: -5px -5px 0px #d5864f;
      }
}
@keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }

.filter-container{
    .selected-results ul li, .filtered-results ul li{
        display: flex;
        justify-content: space-between;
            div img{
                width: 3vw;
            }
        .result-action-buttons{
            display: flex;
            div img{
                width: 3vw;
            }
            .magnify img{
                width: 2.5vw;
            }
        }
    }
}

.postit-container{
    padding: 1vw 0;
    .todo-item{
        display: flex;
        gap: 1vw;
        #check{
            accent-color: rgb(131, 226, 16);
        }
    }
}

.calendar-container{
    display: flex;
    padding: 3vw;
    .calendar-content{
        display: flex;
        flex-direction: column;
        gap: 4vw;
        .calendar-filters{
            display: flex;
            justify-content: center;
            gap: 4vw;
        }
        .calendar{
            display: flex;
            img{
                width: 60%;
                height: fit-content;
            }
            .fish-list--container{
                width: 50%;
                padding: 0 2vw;
                .fish-items{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 1vw;
                }
            }
        }
    }
}

footer{
    position: relative;
    background: rgb(192,234,255);
    background: linear-gradient(180deg, rgba(192,234,255,1) 0%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 40vw;
    .footer-inner{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-image: url(https://forums.stardewvalley.net/styles/classic/bottom_bg5.png);
        background-size: cover;
    }
}